* {
    margin: 0px;
    padding: 0px;
}


.poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

.manrope {
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.inter {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* common style  */

.display-flex {
    display: flex;
}

.dark-1 {
    color: rgb(58, 58, 58);
}

/* nav style  */
.navbar {
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
   
}

.nav-links {
    gap: 32px;
}

.nav_item {
    list-style: none;
}

.nav_link {
    text-decoration: none;
    color: rgb(58, 58, 58);
    font-size: 16px;
    font-weight: 600;
}

/* banner style  */
.banner {
    align-items: center;
    margin-top: 50px;
    justify-content: center;
    gap: 200px
}

.banner-title {
    font-size: 3rem;
    font-weight: 700;
    line-height: 60px;
}

.banner-description {
    font-size: 1rem;
    font-weight: 600;
    margin: 15px 10px;
}

.btn {
    color: white;
    background-color: rgb(224, 44, 109);
    border-radius: 40px;
    border: none;
    padding: 10px 24px;
    font-size: 16px;
    font-weight: 700;
}

.banner-right {
    background-image: url(assets/images/Circle\ design.svg);
    background-size: cover;
}
.banner-img{
    width:440px ;
    height:414px ;
}

/* sponsor-icon  */


.sponsor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.sponsor-img {
    margin-top: 20px;
    padding: 30px;
}







/* card  */
.card-container {
    margin: 0px auto;
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 12.5rem;
    margin-bottom: 100px;
}

.card-section {
    border-radius: 5px;
    box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.15);
    width: 300px;
    padding: 18px;
}


.card-title {
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 70px;
}

.product-title {
    font-size: 28px;
    font-weight: 500;
    color: rgb(24, 25, 31);

}

.product-prize {
    font-size: 24px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
    margin: 6px 0px;
}

.rating-container {
    align-items: center;
    gap: 10px;
}

.product-description {
    font-size: 14px;
    font-weight: 700;
    color: rgb(120, 120, 133);
}

.checked {
    color: orange;
}



/* feature section */

.feature {


    display: flex;
    width: 1110px;
    justify-content: space-between;
    margin: 0px auto;
    align-items: center;
}

.feature-description {
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    color: rgb(108, 108, 108);
}

.feature-btn {
    width: 155px;
    height: 44px;
    border: none;
    background-color: rgb(224, 44, 109);
    color: white;
    font-size: 16px;
    font-weight: 700;
    margin-top: 16px;
}

/* footer */
.footer {
    background-color: rgb(10, 8, 38);
    color: white;
}

.information-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 100px;
    padding-top: 70px;
    padding-bottom: 50px;


    font-size: 14px;
    font-weight: 700;
}

.copyright {
    font-size: 14px;
    font-weight: 700;
    padding: 3px;
}
.icon-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
.icon-div{
    width: 60px;
    height: 60px;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    
}
.footer-icon{
    color: white;
}




@media screen and (max-width: 576px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        width: 100%;

    }

    .nav-links {
        margin-top: 20px;
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    .icon {
        display: none;
    }

    .banner {
        flex-direction: column;
        gap: 0px;
        flex-direction: column-reverse;
    }

    .bannar-left {
        text-align: center;
    }

    .banner-title {
        font-size: 28px;

    }

    .banner-description {
        font-size: 14px;
        padding: 0px 10px;
    }

    .banner-right {
        margin-top: 20px;
        margin-bottom: 10px;

        width: 257px;
        height: 257px;
    }

    .banner-img {
        width: 100%;
    }




    .card-container {
        margin: 0px auto;
        gap: 30px 0px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;

    }

    .card-title {
        margin: 20px 0px;
    }

    .sponsor-img {
        margin-top: 20px;
        padding: 20px;
    }



    .feature {

        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        text-align: center;
    }

    .feature-title {
        margin: 20px 0px;
    }

    .feature-btn {
        margin: 30px 0px;
    }


}